body {
  font-family: "Open Sans", sans-serif;
  
}
.navbar-dark {
  background-color:  #07404e;
}
.link {
  text-decoration: none;
  color: black;

}
.link:hover {
  color: gray;
}

.dropdown-link {
  color: gray;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu {
  margin: 0px;
}

.custom-tag {
  max-width: 100%;
  height: 400px;
  background:#07404e;
  background-size: cover;
  position: relative;
}

.carousel-center-text {
  color: floralwhite;
  position: absolute;
  margin: 0px;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 22px;

}

.carousel-center-text h2{
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 544px) {
  .carousel-center-text h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.carousel-center-text p {
  font-size: 15px;
  z-index: 10;
}

@media (min-width: 544px) {
  .carousel-center-text p {
    z-index: auto;
  }
}

.carouselBackgrund {
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.5;
}
.home-items {
  margin-top: 10px;
}
.home-image {
  max-height: 250px;
  width: 100%;
}
.home-text p{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.home-text h4{
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.btn-register {
  color: rgb(232, 230, 227);
  border-color: rgb(46, 94, 119);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  line-height: 1;
  margin: 10px;
  border: 2px solid #68A4C4;
  background-color: rgb(46, 94, 119);
  text-decoration: none;
}

.btn-register:hover {
  background-color: #66a4c5;
  background: #66a4c5;
  color: rgb(232, 230, 227);
  text-decoration: none;
}
/*calender tables*/
.calender_tables table, .calender_tables th, .calender_tables td{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

}

.calender_tables tr {
  background-color: #0f9999;
}

.calender_tables th {
  background-color: #9cd368;
}
/* program detail */
.program_detail h3 {
  font-weight: bold;
}


.footer {
  background-color: #07404e;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: floralwhite;
}
.footer .row-register-footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px ridge;
}
.footer .footer-content {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.footer .footer-content a {
  color: white;
  background-color: transparent;
  text-decoration-line: none;
}
.footer .footer-content a:hover {
  color: rgb(153, 153, 130);
  text-decoration: none;
}
.footer .copy-right {
  padding: 20px 0px 5px 0px;
  border-top: 1px ridge;
}